.location {
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #232f3e;
  z-index: 100;
}
.location__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.location__optionLineOne {
  font-size: 13px;
}

.location__logo {
  object-fit: contain;
  position: relative;
  right: -75px;
}
.location__symbol {
  position: relative;
  left: 7px;
}
.location__optionLineOne:hover {
  border: 1px solid white;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content img {
  display: block;
  width: 300px;
  object-fit: contain;
  border: 10px solid white;
  position: relative;
  top: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover {
  border: 1px solid white;
}
