.sideBar {
  color: black;
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 280px;
  height: 100vh;
}
.sidebar__options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: right;
  font-size: 20px;
  padding: 10px;
}
.sidebar__user {
  background-color: rgb(63, 231, 203);
}
.sidebar__image {
  position: relative;
  left: 0px;
}
.sidebar__userName {
  position: relative;
  top: -15px;
  left: 0px;
  font-size: 20px;
  font-style: italic;
}
.sidebar__close {
  position: relative;
  right: -200px;
  top: -20px;
}
